<%- include("partials/head.ejs") %>
<%- include("partials/navbar.ejs") %>
<div id="home-container">

    <ol id="orders-list">
        <div class="orders-item">
            <span class="item">Name</span>
            <span class="item">Location</span>
            <span class="item">Email</span>
            <span class="item">Actions</span>
        </div>
    <% for(let store of allstores){%>
        <li class="orders-item">
            <span class="item"><%= store.name %></span>
            <span class="item"><%= store.location %></span> 
            <span class="item"><%= store.email %></span>
            <span class="item-actions"><a href="http://localhost:3000/store/<%= store.id %>" class="btn btn-success">Show</a></span>
            <span class="item-actions"><a href="http://localhost:3000/store/<%= store.id %>/edit" class="btn btn-primary">Update</a></span>
            <span class="item-actions"><a href="http://localhost:3000/store/<%= store.id %>/delete" class="btn btn-danger">Delete</a></span>
        </li>
    <% } %>
    </ol>
</div>
<%- include("partials/footer.ejs") %>