<%- include("partials/head.ejs") %>
<%- include("partials/navbar.ejs") %>
<div id="home-container">
    <form action="/store/<%= store.id %>/order" method="post">
        <h1><%= store.name %></h1>
        <h2>Add new Order</h2>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" class="form-control" id="fullName" placeholder="Enter your full name" required>
        </div>
        <div class="form-group">
            <label for="order">Order</label>
            <input type="text" name="itemsString" class="form-control" id="order" placeholder="Enter list of comma separated items" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="Enter the total price" required>
        </div>
        <div class="form-group">
            <label for="instruction">Instruction</label>
            <input type="text" name="instruction" class="form-control" id="instruction" placeholder="Enter addition instruction">
        </div>
        <button type="submit" class="btn btn-primary" id="place-order">Place Order</button>
    </form>
</div>
<%- include("partials/footer.ejs") %>